@charset "UTF-8";
body {
  background-color: skyblue;
}

/*各施設*/
.hotel_box {
  background: linear-gradient(315deg, transparent 20px, white 20px);
  background-position: bottom left, top left, top right, bottom right;
  background-repeat: no-repeat;
  margin: 2rem 2rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: auto;
  /*施設画像*/
  /*レビュー☆*/
  /*最安料金～詳細情報URL*/
}

.hotel_box ul {
  padding: 0;
  width: 50vw;
  line-height: 2.5rem;
  /*施設名*/
}

.hotel_box ul li {
  list-style-type: none;
}

.hotel_box ul :nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}

.hotel_box img {
  height: 18rem;
  width: 18rem;
}

.hotel_box .image {
  width: 2rem;
  height: 2rem;
}

.hotel_box .hotel_child p {
  margin: 0;
  margin-bottom: 7rem;
}

.hotel_box .hotel_child a {
  text-decoration: none;
  color: #A59D9C;
  padding: 0.5rem 1.5rem;
  border: solid 1px #A59D9C;
}

.header {
  background: white;
  margin: 0;
  height: 100%;
}

.header a {
  font-size: 200%;
  text-decoration: none;
}

.display {
  display: block;
}

.display_none {
  display: none;
}

#next_page, #back_page {
  background: none;
  font-weight: bold;
  color: white;
  border: none;
}

#next_page, #back_page:focus {
  outline: 0;
}

.pageing {
  display: flex;
  justify-content: center;
}

.page {
  color: white;
  margin: 0 0.5rem;
}

.page:hover {
  color: red;
}
